html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    
}


.flexnav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    background-color: rgb(186, 176, 176,.65);;
    
}
.nav-bar{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
}
.weather-plugin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-image: url("../images/weather-back-new.jpg");*/
    background-image: url('https://source.unsplash.com/1600x900/?weather');
    background-size:cover;
    height: 400px;
    max-height: 600px;
}
.card{
    background-color: rgb(186, 176, 176, .85);
    padding: 1.5%;
    border-radius: 15px;
    width:300px;
    max-width: 500px;
    margin: 1em;
    color: white;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button {
    border-radius: 30px;
    height: 32px;
    width: 32px;
    outline: none;
    background-color: rgba(219, 208, 208, 0.85);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out
}
button:hover{
    background-color: rgba(128, 120, 120, 0.4);
}
.search-bar {
    border-radius: 10px;
    height: 25px;
    width: 18em;
    outline: none;
    color:black;
    background-color: rgba(219, 208, 208, 0.85);
    font-family: inherit;
  
}

h1.temp{
    margin:0;
}
