.hero-bg{
    background-image: url("../images/port-background.jpg");
    text-align: center;
    color:brown;
    background-size: cover;
    height:700px;
}


.nav-bar {
    list-style-type: none;
    margin: 0;
    paddig: 0;
    background: linear-gradient(90deg, rgba(219,219,219,1) 36%, rgba(255,255,255,0.23012955182072825) 100%);
}
